.section--timer-run.warning {
    animation-name: background-warning-flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes background-warning-flash {
    0% {
        background-color: none;
    }
    50% {
        background-color: orange;
    }
    100% {
        background-color: none;
    }
}
