.button-bar {

	display: flex;
	flex-direction: row;
	width: 100%;

	&.button-bar--right {
		justify-content: flex-end;
		align-items: center;
	}

	&.button-bar--center {
		justify-content: center;
		align-items: center;
	}
}

ul.divided-list {
	li {
		padding: 6px;
		border-bottom: 1px solid grey;
	}
}

div#app {
	display: flex;
    flex-direction: column;
    flex-grow: 1;

    section.section--grow {
    	flex-grow: 1;
    }
}