section.hero {
    @media (max-width: 768px) {
        flex-grow: 1;
    }
}

.background-img {
    background-image: URL('../img/background_9.jpg');
    background-size: cover;
    background-position: top center;
    flex-grow: 1;
}

.floating-button {
	position: absolute;
    bottom: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}