.section--timer-run.warning {
  animation-name: background-warning-flash;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

@keyframes background-warning-flash {
  0% {
    background-color: none; }
  50% {
    background-color: orange; }
  100% {
    background-color: none; } }

.button-bar {
  display: flex;
  flex-direction: row;
  width: 100%; }
  .button-bar.button-bar--right {
    justify-content: flex-end;
    align-items: center; }
  .button-bar.button-bar--center {
    justify-content: center;
    align-items: center; }

ul.divided-list li {
  padding: 6px;
  border-bottom: 1px solid grey; }

div#app {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }
  div#app section.section--grow {
    flex-grow: 1; }

@media (max-width: 768px) {
  section.hero {
    flex-grow: 1; } }

.background-img {
  background-image: URL("../img/background_9.jpg");
  background-size: cover;
  background-position: top center;
  flex-grow: 1; }

.floating-button {
  position: absolute;
  bottom: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

.cursor-pointer {
  cursor: pointer; }

.section.section__full-height {
  min-height: 100vh; }

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

